{% extends "base.html.twig" %}

{% block title %}Gestion peronnel - Paiement salaire{% endblock %}

{% block body %}
    <div class="container mt-3">
        <h1>Bulletin de paie</h1>
    </div>
{% endblock %}