{% extends "base.html.twig" %}

{% block title %}Créer nouveau Service{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Creation Service</h1>
        {{ form(form) }}
    </div>
{% endblock %}