{% extends "base.html.twig" %}

{% block title %}Modifier Service{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modification Service</h1>
        {{ form(form) }}
    </div>
{% endblock %}